<section class="section-about">
  <section class="about-info">
    <h2>About</h2>
    <p>
      I specialize in building web applications and managing databases. Outside
      of work, I enjoy reading, cooking, and helping others. I'm passionate
      about learning new things and seeking opportunities where I can
      collaborate with others to make a meaningful impact with my skills.
    </p>
    <strong>Soft Skills:</strong>
    <div class="soft-skills">
      <span>Adaptability</span>
      <span>Creative Problem-Solving</span>
      <span>Patience</span>
      <span>Resilience</span>
      <span>Attention to Detail</span>
      <span>Inclusiveness</span>
      <!-- Changed to "Inclusiveness" for grammatical correctness -->
      <span>Quick Learner</span>
      <span>Strong Work Ethic</span>
      <span>Effective Communication</span>
      <span>Team Collaboration</span>
    </div>
  </section>

  <section class="about-skills">
    <h2>👨‍💻 Skills</h2>
    <article class="skills-category">
      <h3>Programming Languages & Frameworks</h3>
      <ul>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg"
            alt="HTML"
            title="HTML"
            aria-label="HTML"
          />
          <span>HTML</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg"
            alt="CSS"
            title="CSS"
            aria-label="CSS"
          />
          <span>CSS</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/markdown/markdown-original.svg"
            alt="Markdown"
            title="Markdown"
            aria-label="Markdown"
          />
          <span>Markdown</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
            alt="JavaScript"
            title="JavaScript"
            aria-label="JavaScript"
          />
          <span>JavaScript</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
            alt="TypeScript"
            title="TypeScript"
            aria-label="TypeScript"
          />
          <span>TypeScript</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
            alt="React"
            title="React"
            aria-label="React"
          />
          <span>React</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg"
            alt="Node.js"
            title="Node.js"
            aria-label="Node.js"
          />
          <span>Node.js</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original-wordmark.svg"
            alt="MySQL"
            title="MySQL"
            aria-label="MySQL"
          />
          <span>MySQL</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
            alt="Python"
            title="Python"
            aria-label="Python"
          />
          <span>Python</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"
            alt="PHP"
            title="PHP"
            aria-label="PHP"
          />
          <span>PHP</span>
        </li>
      </ul>
    </article>

    <article class="skills-category">
      <h3>Additional Skills</h3>
      <ul>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg"
            alt="VS Code"
            title="VS Code"
            aria-label="VS Code"
          />
          <span>VS Code</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg"
            alt="GitHub"
            title="GitHub"
            aria-label="GitHub"
          />
          <span>GitHub</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
            alt="Git"
            title="Git"
            aria-label="Git"
          />
          <span>Git</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/npm/npm-original-wordmark.svg"
            alt="NPM"
            title="NPM"
            aria-label="NPM"
          />
          <span>NPM</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/eslint/eslint-original-wordmark.svg"
            alt="Eslint"
            title="Eslint"
            aria-label="Eslint"
          />
          <span>Eslint</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vercel/vercel-original-wordmark.svg"
            alt="Vercel"
            title="Vercel"
            aria-label="Vercel"
          />
          <span>Vercel</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original-wordmark.svg"
            alt="Netlify"
            title="Netlify"
            aria-label="Netlify"
          />
          <span>Netlify</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/pypi/pypi-original.svg"
            alt="PyPI"
            title="PyPI"
            aria-label="PyPI"
          />
          <span>PyPI</span>
        </li>
        <li>
          <img
            src="https://img.icons8.com/?size=100&id=117561&format=png&color=000000"
            alt="Excel"
            title="Excel"
            aria-label="Excel"
          />
          <span>Excel</span>
        </li>
        <li>
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/reactrouter/reactrouter-original.svg"
            alt="React Router"
            title="React Router"
            aria-label="React Router"
          />
          <span>React Router</span>
        </li>
        <li>
          <img
            src="https://prettier.io/icon.png"
            alt="Prettier"
            title="Prettier"
            aria-label="Prettier"
          />
          <span>Prettier</span>
        </li>
      </ul>
    </article>
  </section>
</section>
