<section class="section-education">
  <h2>Education</h2>

  <article>
    <a href="https://www.incap.edu.co" aria-label="INCAP official website">
      <img src="{{url_for('static', filename='img/INCAP.png')}}" alt="INCAP" />
    </a>
    <div class="education-info">
      <h3>
        <abbr
          title="Technical Training in Computer Program Operation and Database Management"
          lang="es"
        >
          Técnico Laboral Por Competencias en Operación de Programas
          Informáticos y Bases de Datos
        </abbr>
      </h3>
      <p>
        Instituto Colombiano de Aprendizaje
        <abbr
          title="Instituto Colombiano de Aprendizaje"
          lang="es"
          translate="no"
          >INCAP</abbr
        >
      </p>
      <time datetime="2024-06">June 2024</time>
    </div>
  </article>
  <article>
    <a href="https://www.sena.edu.co" aria-label="SENA official website">
      <img
        src="{{url_for('static', filename='img/SENA.png')}}"
        alt="SENA"
        translate="no"
      />
    </a>
    <div class="education-info">
      <h3>Supplementary Virtual Training</h3>
      <p>
        <abbr title="Servicio Nacional de Aprendizaje" lang="es" translate="no"
          >SENA</abbr
        >
      </p>
      <ul>
        <li>Variables and Control Structures in <i>Python</i></li>
        <li>Introduction to <i>C++</i> Programming Language</li>
        <li><i>C++</i> Programming Language Structure (Level I)</li>
        <li>Environmental Management Systems Formulation</li>
      </ul>
    </div>
  </article>
</section>
