<footer class="section-footer">
  <h2>Contact</h2>
  <address>
    <p>
      If you'd like to get in touch, you can reach me directly via email or
      phone:
    </p>
    <p>
      Email:
      <a href="mailto:sebastiandiaz4757@hotmail.com"
        >sebastiandiaz4757@hotmail.com</a
      >
    </p>
    <p>
      Phone:
      <a href="tel:+57 3216329576">+57 321 6329576</a>
    </p>
    <p>You can also download my CV for more details:</p>
    <a href="path/to/your/cv.pdf" download>Download CV</a>
    <p>Made with <span aria-label="love">❤️</span> by Jhoan</p>
  </address>
</footer>
