<header class="header">
  <div class="header-logo">
    <a href="{{url_for('index')}}">
      <img
        src="https://avatars.githubusercontent.com/u/125749979?v=4"
        alt="logo"
      />
    </a>
    <h1 class="header-title">Portafolio</h1>
  </div>
  <nav class="header-nav">
    <ul>
      <li><a href="{{ url_for('index') }}">Inicio</a></li>
      <li><a href="{{ url_for('about') }}">Acerca</a></li>
      <li><a href="{{ url_for('projects') }}">Proyectos</a></li>
      <li><a href="">Contratar</a></li>
    </ul>
  </nav>
</header>
