<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio of a web designer and developer with expertise in HTML, CSS, JavaScript, Python, React, Flask, SQL, data analysis, and more."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="HTML, CSS, JavaScript, web development, Data analysis, Flask, Frontend, Backend, Python, SQL, React, Full Stack"
    />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include 'sections/header.html' %}
    <!--  -->
    {% include 'sections/header-card.html' %}
    <!--  -->
    {% include 'sections/about.html' %}
    <!--  -->
    {% include 'sections/projects.html' %}
    <!--  -->
    {% include 'sections/education.html' %}
    <!--  -->
    {% include 'sections/footer.html' %}
    <!--  -->
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
